.title {
    max-width: 1050px;
    margin: 0 auto;
    color: white;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0;
    text-align: center;

}


.box_text {
    position: absolute;
    left: 20%;
    bottom: 96px;
    background-color: rgba(0,0,0,0.6);
}

.banner {
    background-size : cover;
    width: 100%;
    
}
.bannerMobile {
    background-size: cover;
    // width: ;
    display: none;
}

@media screen and (max-width : 860px) {
    .title {
        margin: 0 16px;
        font-size: 1rem/* 24px */;
    line-height: 1.5rem/* 32px */;
    }
    .box_text {
        width: 80%;
        left: 10%;
    }
    .banner {
        display: none;
    }
    .bannerMobile {
        display: block;
        width: 100%;
    }
}