
.imgItems {
position: relative;
width: 50%;
  
}
.imgBefore {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.imgAffter {
    display: block;
    width: 100%;
    height: auto;
    // cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  .imgItems:hover .overlay {
    opacity: 1;
  }