.page_title {
    max-width: 1050px;
    margin: 0 auto;
    padding: 16px 0;
    color: white;
    text-transform: uppercase;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
}

.content {
    width: 100%;
    margin-top: 2rem/* 32px */;
    margin-bottom: 2rem/* 32px */;
    display: flex;
    padding-bottom: 8px;
}
.image_product {
    width: 50%;
    margin: 0 8px;
}
.info_product {
    width: 50%;
    margin: 0 8px;
    overflow-x: hidden;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media screen and (max-width : 520px){
    .page_title {
        margin: 0 24px;
        font-size: 16px;
        line-height: 20px;
    }
    .content {
        display: block;
        overflow-x: hidden;
    }
    
    .image_product {
        width: 100%;
        margin: 16px 8px;
    }
    .info_product {
        overflow-x: hidden;
        width: 100%;
        margin: 8px 16px;
    }
}