.socal_media {
    color: white;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin: 0 15px;
}

.menu_mobile {
    opacity: 0;
    justify-content: center;
    text-align: center;
    margin: auto 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.nav_header {
    background-color: black;
    color: white; 
    font-weight: 700;
    justify-content: center;
    gap: 16px;
    font-size: 0.75rem;
    line-height: 1rem;
    display: flex;
}

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow-y: hidden;
        z-index: 30;
      }


@media screen and (max-width : 860px){
    .socal_media {
        display: none;
    }
    .menu_mobile{
        opacity: 1;
        cursor: pointer;
        
    }
    .nav_header {
        display: none;
    }
   
}

@media only screen and (max-width: 520px) {
    .socal_media {
        display: none;
    }
    .menu_mobile{
        opacity: 1;
        cursor: pointer;
    }
    .nav_header {
        display: none;
    }
}