.size {
    max-width: 100%;
    height: auto;
}

.banner_destop {
    display: block;
    width: 100%;
}
.banner_mobile {
    display: none;
    width: 100%;
    margin: 0 auto;
}
.text_box_destop {
    display: block;
}

.text_box_mobile {
    color: white;
    text-align: center;
    margin: 0 8px;
    display: none;
}
.title_newBlog {
    color: white;
    font-weight: 700;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
}

@media only screen and (max-width: 500px) {
    .size {
        width: 100%;
    }
    .banner_destop {
        display: none;
        // width: 100%;
    }
    .banner_mobile {
        display: block;
        width: 100%;
    }
    .text_box_destop {
        display: none;
    }
    .text_box_mobile {
        margin-bottom: 60px;
        display: block;
    }
    .sectionMobile {
        display: none;
    }
    .title_newBlog {
        font-size: 16px;
    }
  
}