.text_banner {
    bottom: 20px;
    position: absolute;
    left: 30%;
    z-index: 10;
    color: white;
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
}

.container {
    position: relative;
    cursor: pointer;
    overflow-y: hidden;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 2px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  
.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 4px;
    margin: 12px 0;
}

@media screen and (max-width: 860px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .text_banner {
       display: none;
    }
}

